.wrapper {
  .clearState {
    position: absolute;
    top: 5px;
    left: 200px;
    padding: 10px;
    color: black;
    background-color: rgb(97, 184, 255);

    &:active {
      color: white;
    }
  }
}

.todoWrapper {
  min-height: 20%;
  display: flex;
  gap: 1em;

  & > button {
    font-size: 1.1rem;
    font-weight: 400;
    color: grey;
  }
}

